<%= render partial: 'layouts/aca_rails/header', locals: {title: "Edit User"} %>

<%= render partial: 'layouts/aca_rails/tabs', locals: {controller_class: controller_name , action: "edit", search_field:"name_cont"} %>

<div class="form-element-align">
  <%= simple_form_for @user, :html => { :class => 'form-group' } do |f| %>
      <%= f.input :name %>
      <%= f.input :login %>
      <%= f.input :email %>
      <%= f.input :is_admin %>
      <%= f.input :is_active %>
      <%= f.input :login_attempts %>

      <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    users_path, :class => 'btn btn-warning' %>
      </div>
  <% end %>
</div>