<%= render partial: 'layouts/aca_rails/header', locals: {title: "Show User"} %>

<%= render partial: 'layouts/aca_rails/tabs', locals: {controller_class: controller_name , action: "show", search_field:"name_cont"} %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @user.is_active %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @user.last_login %>
</p>

<p>
  <strong>Last ip:</strong>
  <%= @user.last_ip %>
</p>

<p>
  <strong>Login attempts:</strong>
  <%= @user.login_attempts %>
</p>


<div class="form-actions">
  <%= link_to 'Back',
              users_path, :class => 'btn btn-warning' %>
</div>
