<!-- Versions table-->
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Event</th>
      <th>Who</th>
      <th>Date</th>
      <th>Object</th>
    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.event %></td>
          <% begin %>
          <td><%= version.user %></td>
          <% rescue %>
          <td><%= version.whodunnit %></td>
          <% end %>
          <td><%= version.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= version.object %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate versions, views_prefix: 'aca_rails' %>
</div>