<!DOCTYPE html>
<html>
<head>
  <title>Aca rails</title>
  <%= stylesheet_link_tag    "aca_rails/application", media: "all" %>
  <%= javascript_include_tag "aca_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/aca_rails/navigation', flash: flash%>

<div class="container-fluid">

  <%= render partial: 'layouts/aca_rails/flash_messages', flash: flash%>

  <%= yield %>

  <div class="jumbotron">
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>


</body>
</html>
